@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
  --Soft_red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark_cyan: hsl(167, 40%, 24%);
  --Dark_blue: hsl(198, 62%, 26%);
  --Dark_moderate_cyan: hsl(168, 34%, 41%);
  --Barlow: "Barlow", sans-serif;
  --Fraunces: "Fraunces", serif;
}

::-webkit-scrollbar {
  background-color: #3ebfff93;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 20px;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container-1 {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  font-family: var(--Barlow);
  background-image: url(images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
  min-height: 900px;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  width: 100%;
}
header img {
  width: 220px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

nav a {
  text-decoration: none;
}

.nav-links {
  color: white;
  text-decoration: underline 2px transparent;
  text-underline-offset: 10px;
  transition: 0.3s;
}

.nav-links:hover {
  text-decoration: underline 2px white;
}

#contact-button {
  font-family: var(--Fraunces);
  text-transform: uppercase;
  color: black;
  background-color: white;
  border-radius: 20px;
  padding: 15px 20px;
  transition: 0.3s;
}

#contact-button:hover {
  background-color: rgba(255, 255, 255, 0.39);
  color: white;
}

#arrow-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: var(--Fraunces);
}

#arrow-box img {
  position: absolute;
  top: 45%;
  width: 50px;
}


